.progress-bar{
    position: absolute;
    width: 90%;
    height: 10%; 
    top: 10%;
    left: 5%;
}

.camera-preview{
    position: absolute;
    width: 90%;
    height: 40%;
    top: 20%;
    left: 5%;
}

.buttons{
    position: absolute;
    width: 90%;
    height: 20%;
    top: 70%;
    left: 5%;
}

.preview-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.canvas{
    position: absolute;
}

.box{
    position: absolute;
    width: 90%;
    height: 40%;
    top: 20%;
    left: 5%;
}

