.item-data{
    position:relative;
    height: 100%;
    width:80%;
    left:0;
    top:0;
}

.item-action{
    display: flex;
    align-items: center;
}

ion-icon{
    display: flex;
    font-size:32px;
    align-self: center;
}

.add{
    color: #21513E;
}

.added{
    color: #21513E;
}

.remove{
    color: #372651;
}