ion-img {
    border-radius: 50%;
  }
  
  /* ion-card{
    height: 100%;
  } */
  
  .avatar-container {
    left: 10%;
    width: 80%;
    padding-top: 80%;
    position: relative;
  }
  
  .avatar .selfie img{
    position: absolute;
    left: -30%;
    top:-10%;
    max-width: 150%;
    max-height: auto;
  }
  
  .avatar.default-user{
    position: absolute;
    left: 0;
    top:0;
    max-width: 100%;
    max-height: auto;
  }
  .avatar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    border-radius: 50%;
    
    
    overflow: hidden;
  }
  
  .avatar-button{
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: visible;
  }